<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Tabs Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <ul class="nav nav-tabs">
        <!-- Tab headers -->
        <li class="nav-item">
            <a class="nav-link active" id="tab1" hx-get="/path/to/tab1/content" hx-trigger="click" hx-target="#tabContent" hx-swap="innerHTML">Tab  1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab2" hx-get="/path/to/tab2/content" hx-trigger="click" hx-target="#tabContent" hx-swap="innerHTML">Tab  2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab3" hx-get="/path/to/tab3/content" hx-trigger="click" hx-target="#tabContent" hx-swap="innerHTML">Tab  3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab4" hx-get="/path/to/tab4/content" hx-trigger="click" hx-target="#tabContent" hx-swap="innerHTML">Tab  4</a>
        </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content" id="tabContent">
        <!-- Initial content for Tab  1 -->
        <div class="tab-pane fade show active" id="tabPane1">
            <h4>Tab  1 Content</h4>
            <p>Initial content for Tab  1.</p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
